*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}
#wrapper{
    display: flex;
    flex-direction: column;
}
#discount{
    border: 1px solid #000000;
    background-color: #ffffff;
    height: 40px;
    font-family: Muli;
    font-size: 15px; 
    font-weight: 700; 
    letter-spacing: 2px;
    text-align: center;
    color: rgb(156, 0, 0);
    padding-top: 10px;
}
#shop-line{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    position: relative;
    color:#000000;
    font-size:25px;
    line-height:20px;
    font-family: Poppins;
    background-color: #ffffff;
}
#shop-line ::before{
    content: "";
    display: block;
    border-bottom: 1px solid rgb(204, 198, 198);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
#shop-line ::after {
    content: "Shop By Category";
    display: inline-block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 10px;
}

                        /* <--- Navbar CSS ---> */

.navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  /* Style the top navigation */
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  /* Style the logo */
  .logo{
    width: 200px;
    height: 40px;
    margin-left: 30px;
  }
  .logo img{
   width: 80%;
  }
  /* Style the search bar */
  .search-bar {
display: flex;
 margin-left: -20%;
 width: 30%;
 height: 42px;
 padding: 15px;
 justify-content: space-between;
 align-items: center;
 border-radius: 3px;
 border: none;
 background-color: rgb(205, 202, 202);
  }
  .search-bar input[type="search"] {
    width: 78%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(205, 202, 202) ;
  }
  /* Style the navigation buttons */
  .nav-buttons {
    display: flex;
    margin-right: 30px;
  }
  .nav-buttons i{
    margin-right: 5px;
  }
  .nav-buttons a {
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 40px;
  }
  /* Style the bottom navigation */
  .bottom-nav {
    display: flex;
    justify-content: center;
    background-color: #902735;
  }
  .bottom-nav a {
    font-family: poppins;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
  }
  .bottom-nav a:hover{
    background-color: rgb(245, 239, 230);
    color: #902735;
    }
  /* Media query for responsive design */
  @media screen and (max-width: 1020px){
.search-bar{
    display: none;
}
  }
  @media screen and (max-width: 600px) {
    .navbar{
        position: relative;
    }
    .nav-buttons {
      flex-direction: column;
    }
    .bottom-nav{
        flex-direction: column;
    }
  }

                            /* <--- Navbar CSS ---> */


                           /* <--- small slider ---> */

  .main-carousel{
    margin-top: 30px;
  }
  .carousel-cell{
  width: 20%;
  height: 200px;
  }
  .carousel-cell img{
    width: 100%;
    height: 200px;
  }
  @media screen and (max-width: 900px){
    .carousel-cell{
      width: 33%;
    }
  }
  @media screen and (max-width: 700px){
    .carousel-cell{
      width: 50%;
    }
  }
  @media screen and (max-width: 600px){
    .carousel-cell{
      width: 100%;
    }
  }


                            /* <--- small slider ---> */

                               /* <--- Big Slider ---> */

.slideshow-wrapper{
    margin-top: 40px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}
.slideshow{
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 450px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 450px;
}
.navigation-manual{
position: absolute;
width: 100%;
display: flex;
margin-top: 10px;
justify-content: center;
}
.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background:#40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffffff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffffff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffffff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #ffffff;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #ffffff;
}

.slide-bottom{
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 40px;
}
.slide-bottom .b-card{
    border: 2px solid black;
    width: 15%;
    font-size: 13px;
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.b-card .b-image{
    width: 80px;
}

.b-card img{
    width: 100%;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
}
@media screen and (max-width: 750px){
    .slide-bottom{
        padding-right: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap : 10px;
    }
  }
/* <--- Big Slider ---> */

#grid-cont{
    margin: auto;
    margin-top: 50px;
    display: grid;
    width: 82%;
    grid-template-columns: repeat(2,1fr);
     gap: 40px;
}
.grid-img{
    cursor: pointer;
}
.grid-img img{
    width: 100%;
}
@media screen and (max-width: 900px){
    #grid-cont{
        display: flex;
        flex-direction: column;
    }
  }

/* <--footer part --> */
#f-main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 30px;
}
footer{
    background-color: #902735;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.f-cont{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.f-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.col{
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: poppins;
    padding: 0 2rem;
}
.col h3{
    color: #b0a2a6;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #cab0bf;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.col h3:hover::after{
    width: 30px;
}
.col .s-media a i{
    width: 15px;
    color: #ffffff;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .s-media a i:hover{
    transform:  scale(1.5);
    color: #cab0bf;
}
.col .link a{
    display: block;
    text-decoration: none;
    color: #f2f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .link a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #cab0bf;
    transition: 0.5s ease;
    opacity: 0;
}
.col .link a:hover::before{
    opacity: 1;
}
.col .link a:hover{
    transform: translateX(-8px);
    color: #b0a2a6;
}
.s-media{
    display: flex;
    justify-content: space-around
}
@media(max-width:900px) {
    .f-row{
        flex-direction: column;
    }
    .col{
       width: 100%;
       text-align: left; 
       margin-bottom: 25px;
    }
}
/* <--footer part --> */