*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
  }
  /* #wrapper{
    display: flex;
    flex-direction: column;
  } */
  #discount{
    border: 1px solid #000000;
    background-color: #ffffff;
    height: 40px;
    font-family: Muli;
    font-size: 15px; 
    font-weight: 700; 
    letter-spacing: 2px;
    text-align: center;
    color: rgb(156, 0, 0);
    padding-top: 10px;
  }
  
  /* <--- Navbar CSS ---> */
  
  .navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  /* Style the top navigation */
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  /* Style the logo */
  .logo{
    width: 200px;
    height: 40px;
    margin-left: 30px;
  }
  .logo img{
   width: 80%;
  }
  /* Style the search bar */
  .search-bar {
  display: flex;
  margin-left: -10%;
  width: 30%;
  height: 42px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: none;
  background-color: rgb(205, 202, 202);
  }
  .search-bar input[type="search"] {
    width: 78%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(205, 202, 202) ;
  }
  /* Style the navigation buttons */
  .nav-buttons {
    display: flex;
    margin-right: 30px;
  }
  .nav-buttons i{
    margin-right: 5px;
  }
  .nav-buttons a {
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 40px;
  }
  /* Style the bottom navigation */
  .bottom-nav {
    display: flex;
    justify-content: center;
    background-color: #902735;
  }
  .bottom-nav a {
    font-family: poppins;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
  }
  .bottom-nav a:hover{
    background-color: rgb(245, 239, 230);
    color: #902735;
    }
  /* Media query for responsive design */
  @media screen and (max-width: 1020px){
  .search-bar{
    display: none;
  }
  }
  @media screen and (max-width: 600px) {
    .nav-buttons {
      flex-direction: column;
    }
    .bottom-nav{
        flex-direction: column;
    }
  }
  /* <--- Navbar CSS ---> */
  #container{
    width: 100%;
    display:flex;
    margin: auto;
    margin-top: 40px;
    line-height: 30px;
  }
  #sort-by-select{
     font-size: 18px;
    /* font-weight: 500;*/
     margin-left: 15px; 
  }
  .sort-by{
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    width: 330px;
    /* border: 1px solid red; */
  }
  .sort-by>h3{
    margin-top: 30px;
  }
  #filter{
    /* margin-top: 30px; */
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    width: 180px;
    
  }
  hr {
    display: block;
    height: 400px;
    border: none;
    border-right: 1px solid black;
    margin-right: -10px;
    /* margin-left: 40px; */
    /* margin-top: -40px; */
  }
  #product-div{
    display: grid;
    grid-template-columns:repeat(4,290px);
    /* grid-template-rows:repeat(13,390px); */
    gap:10px;
    justify-content: end;
    /* margin-top: -400px; */
    margin-right: 20px;
    margin-left: 30px;
  }
  #product-div>div{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  #product-div>div:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  #product-div>div>img{
    width: 95%;
    padding-left: 10px;
    /* height: 72%; */
  }
  #product-div>div>p{
    font-size: 20px;
    
    font-family:'Times New Roman', Times, serif;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
  
  margin: auto;
  }
  #product-div>div>h4{
    font-size: 22px;
    color: rgb(246, 125, 4);
    text-align: center;
  }
  .butdiv{
    display: flex;
  }
  .butdiv>button{
    width: 135px;
    height: 36px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    background-color: rgb(141, 22, 7);
    color: white;
    font-family:'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    /* margin-top: -10px; */
  }
  .butdiv>button:hover{
    background-color: black;
  }
  #pagination-wrapper{
   
    width :30%;
    padding-left: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  #pagination-wrapper button{
    margin-top: 30px;
   height: 40px;
   width: 40px;
  background-color: rgb(156,0,0);
  border: none;
  border-radius: 3px;
  color: white;
  } 
  
  @media screen and (max-width: 1020px){
    #product-div{
      display: grid;
      grid-template-columns:repeat(3,290px);
      /* grid-template-rows:repeat(13,390px); */
      gap:10px;
      justify-content: end;
      /* margin-top: -400px; */
      margin-right: 20px;
      margin-left: 30px;
    }
   
    }
    @media screen and (max-width: 600px) {
      #product-div{
        display: grid;
        grid-template-columns:repeat(2,290px);
        /* grid-template-rows:repeat(13,390px); */
        gap:10px;
        justify-content: end;
        /* margin-top: -400px; */
        margin-right: 20px;
        margin-left: 30px;
      }
      #container{
        width: 100%;
        display:flex;
        margin: auto;
        margin-top: 40px;
        line-height: 30px;
        flex-direction: column;
      }
      hr {
        display: none;
      }
    }
  
  #f-main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  footer{
    background-color: #902735;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
  }
  .f-cont{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .f-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .col{
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: poppins;
    padding: 0 2rem;
  }
  .col h3{
    color: #b0a2a6;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
  }
  .col h3::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #cab0bf;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  .col h3:hover::after{
    width: 30px;
  }
  .col .s-media a i{
    width: 15px;
    color: #ffffff;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
  }
  .col .s-media a i:hover{
    transform:  scale(1.5);
    color: #cab0bf;
  }
  .col .link a{
    display: block;
    text-decoration: none;
    color: #f2f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
  }
  .col .link a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #cab0bf;
    transition: 0.5s ease;
    opacity: 0;
  }
  .col .link a:hover::before{
    opacity: 1;
  }
  .col .link a:hover{
    transform: translateX(-8px);
    color: #b0a2a6;
  }
  .s-media{
    display: flex;
    justify-content: space-around
  }
  @media(max-width:900px) {
    .f-row{
        flex-direction: column;
    }
    .col{
       width: 100%;
       text-align: left; 
       margin-bottom: 25px;
    }
  }