*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}
#navbar-first{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-family: Muli;
    font-size: 15px;
    font-weight: 700px;
    color: rgb(156,0,0);
}
#navbar-second{
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 35px;
}
#navbar-icons{
    width: 90%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#navdar-logo-img>img{
    /* border: 1px solid red; */
    width: 90px;
    padding-left: 20px;
}
#search-product{
    /* border: 2px solid green; */
    border-radius: 5px;
    height: 40px;
    width: 390px;
    background-color: rgb(222, 218, 218);
    display: flex;
    align-items: center;
}
.search-box{
    /* border: 2px solid brown; */
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 370px;
    justify-content: space-between;
}
#search-text{
    background-color: rgb(222, 218, 218);
    border: none;
    width: 250px;
    height: 40px;
}
#sign-in-icon{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    
}
#wishlist-icon{
    display: flex;
    justify-content: space-between;
}
#cart-icon{
    display: flex;
    justify-content: space-between;
}
#navbar-second a{
    color: black;
    text-decoration: none;
}
#navbar-third{
    width: 100%;
    height: 70px;
    display: flex;
    margin: auto;
    background-color: rgb(156,0,0);
}
.links-div{
    width: 90%;
    margin: auto;
}
.links-div ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.links-div a{
    text-decoration: none;
    color:white;
}
.links-div ul li {
    list-style-type: none;
}
#productpage{
    display: grid;
    grid-template-columns:repeat(4,300px);
    grid-template-rows:repeat(13,380px);
    gap:10px;
    justify-content: end;
    margin-top: 50px;
    margin-right: 20px;
}
#productpage>div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
#productpage>div:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
#productpage>div>img{
    width: 95%;
    height: 75%;
}
#productpage>div>p{
    font-size: 20px;
    /* font-weight: 600; */
    font-family:'Times New Roman', Times, serif;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
  /* text-align: center; */
  margin: auto;
}
#productpage>div>h4{
    font-size: 22px;
    color: rgb(246, 125, 4);
    text-align: center;
}
#productpage>div>button{
    width: 90%;
    height: 36px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background-color: rgb(141, 22, 7);
    color: white;
    font-family:'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;

}
#productpage>div>button:hover{
    background-color: black;
}
#sort-by{
    display: flex;
}
#sort-by>label{
    font-size: 20px;
    margin-left: 50px;
}
#sort-by-select{
    font-size: 18px;
   /* font-weight: 500;*/
    margin-left: 15px; 
 }
 .sort-by{
   font-size: 18px;
   font-weight: 500;
   margin-left: 15px;
   width: 330px;
   /* border: 1px solid red; */
 }
 .sort-by>h3{
   margin-top: 30px;
 }
 #filter{
   /* margin-top: 30px; */
   font-size: 18px;
   font-weight: 500;
   margin-left: 15px;
   width: 180px;
   
 }